header {
    width:100%;
    margin: 0;
    display: flex;
} 

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 3rem; 
    font-family: $main-font;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
    width: 100%;

}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.nav-item a {
    text-decoration: none;
    color: #242635;
}

.logo {
    margin: 0 auto 0 2rem;
    font-family: $logo-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.phone-view {
    opacity: 0;
}

@media screen and (max-width: 59rem) {
    .logo {
        font-family: 'Baloo';
    }
}

@media screen and (max-width: 37.5rem){
    .logo {
        font-size: 24px;
        line-height: 36px;
    }
    .nav-list li:not(:first-child):not(:last-child) {
        display: none;
    }
    .phone-view {
        opacity: 1;
    }
    .nav-list {
        max-width:100%;
    }
}

