@import "fonts";
@import "global";
@import "header";

.title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 40rem;
    min-width: 16rem;
    width: 100%;
    margin: 5% auto;
}

.title-container h1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 28rem;
    width: 100%;
    min-height: 3rem;
    

    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 102px;
    color: #242635;
}




.title-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: wrap;
    max-width: 38rem;
    min-height: 3rem;
    width: 100%;
   

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    width: 100%;
    margin: 0 auto;
    min-height: 30rem; 
} 

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    max-width: 54rem;
    min-height: 30rem; 
    width: 100%;
    margin-bottom: 3rem;
}

@media screen and (max-width: 59rem) {
    .main-image {
        content: url(/images/horse-ipad.jpg);
    }
    .title-container h1 {
        font-size: 72px;
        line-height: 83px;
    }
}

@media screen and (max-width: 37.5rem) {
    .main-image {
        content: url(/images/horse-phone.jpg);
    }
    .main-image {
        margin-top: 3rem;
    }
    .title-container h1{
        font-size: 36px;
        line-height: 40px;
    }
    .title-container p {
        font-size: 12px;
        line-height: 18px;
    }
}



